.df {
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  position: relative;
}
.df__field {
  height: 1.4em;
  line-height: 1.4em;
  border-bottom: 1px solid #333;
  display: inline-block;
  cursor: pointer;
}
.df__dim {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
}
@media (min-width: 768px) {
  .df__dim {
    background: transparent;
  }
}
.df__picker {
  visibility: hidden;
  opacity: 0;
  padding: 12px 10px;
  position: fixed;
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  background: white;
  box-shadow: 0 0 20px #111;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .df__picker {
    position: absolute;
    top: 1.45em;
    left: 0;
    transform: translateY(0);
    width: 260px;
    box-shadow: 0 0 10px #ddd;
  }
}
.df__picker--show {
  visibility: visible;
  opacity: 1;
}
.df__navigation {
  display: flex;
  align-items: center;
  padding-left: 8px;
  height: 2em;
}
.df__navigation > * {
  flex: 0 0 auto;
}
.df__navigation > span {
  flex: 1 0 auto;
}
.df__navigation > button {
  appearance: none;
  border: 0 none;
  cursor: pointer;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 1em;
}
.df__navprev:after, .df__navnext:after {
	border-style: solid;
	border-width: 0.1em 0.1em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	position: relative;
	top: 0;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}
.df__navprev:after {
	left: 0.1em;
	transform: rotate(-135deg);
}
.df__navnext:after {
	left: -0.1em;
	transform: rotate(45deg);
}
.df__navnow:after {
  content: '';
  width: 0;
  height: 0;
  border: 3px solid;
  border-radius: 999em;
  background: transparent;
  box-sizing: border-box;
}
.df__navigation > button:focus:before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(55, 122, 78, 0.4);
  border-radius: 99em;
}
.df__navigation > button:focus {
  outline: none;
}
.df__navigation > button:focus span {
  position: relative;
  color: white;
}
.df__weekdays {
  display: flex;
  flex-wrap: wrap;
  height: 1.4em;
  align-items: center;
}
.df__weekdays div {
  flex-basis: 14.2857142857%;
  text-align: center;
  color: #ddd;
  font-size: 0.7em;
  font-weight: 300;
}
.df__dates {
  display: flex;
  flex-wrap: wrap;
}
.df__dates > button, .df__dates > div {
  flex-basis: 14.2857142857%;
  text-align: center;
  font-size: 0.7em;
  border: 0 none;
  margin: 0;
  padding: 0;
  position: relative;
  appearance: none;
  font-family: "Times New Roman", Times, serif;
}
.df__dates > button:before, .df__dates > div:before {
  content: '';
  width: 100%;
  padding-bottom: 100%;
  display: block;
}
.df__dates > button > span, .df__dates > div > span {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99em;
  width: 80%;
  height: 80%;
  margin: 10%;
}
.df__dates > div {
  color: #ddd;
  cursor: not-allowed;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
.df__dates > button:focus {
  font-weight: 700;
  font-size: 1em;
  outline: none;
}
button.df__hilited span {
  background-color: rgba(55, 122, 78, 0.5);
  color: white;
}
div.df__hilited span {
  background-color: rgba(55, 122, 78, 0.3);
  color: #333;
}
button.df__selected span {
  background-color: rgba(55, 122, 78, 1);
  color: white;
}
div.df__selected span {
  background-color: rgba(55, 122, 78, 0.5);
  color: #333;
}
